div#homepage
{
  display:grid;
  height:100vh;
  grid-template-columns:0.4fr 1.2fr ;
  grid-template-rows:0.1fr 0.3fr 0.1fr;
  grid-template-areas:
  "header header "
  "menubar main  "
  "footer footer "
}
h1
{
  text-align:center;
  background-color: #CBC3E3;
  margin-top:-0.2em;
}
/*styling and applying queries to menubar*/
header
{
  background-color:#717786;
  grid-area:header; 
  margin-top:-1.4em;
}
.menubar ul
{
  display:flex;
  justify-content: space-around;
  list-style-type: none;
}
@media screen and (max-width:1024px)
{
  .menubar ul
  {
    padding:1.4em;
  }
}
/*styling and applying queries to menu items*/
.menu li
{
  padding-top:1rem;
  padding-bottom: 1rem;
  padding-left:1rem;
  padding-right:1rem;
  margin-top:-1rem;
  margin-bottom:-1rem;
  justify-content: space-around;
  position:relative; 		
}
.menu li a
{
  color:pink;
}
@media screen and (max-width:1024px)
{
  .menu li
  {
    font-size:1.6em;
  }
}
.menu li a:hover,
.menu li a:focus-within
{
  color:deeppink;
}
.menu li:hover,
.menu li:focus-within
{
  background-color:white;
}
/*styling and applying media queries for dropdown menu*/
.dropdown
{
  position:absolute;

  background-color:deeppink;
  left:0em;
  top:3em;
  width:100%;

  display:block;
  opacity:.0;
  overflow:hidden;
  max-height:0em;
  text-align:center;

  transition:opacity 480ms linear,max-height 600ms linear;
}
.dropdown a
{
  display:block;
  color:white;
  text-align:center;
  padding:0.4em ;
}
.menu li:hover .dropdown,
.menu li:focus-within .dropdown
{
  display:block;

  max-height:7.7em; 
  opacity:1;
  overflow:visible;
}
.dropdown a:hover
{
  background-color:#ADADC9;
  color:pink;
}
.dropdown a:focus-within
{
  background-color:#ADADC9;
  color:pink;
}
.local-menu
{
  background-color:#DCDBE4;
  grid-area:menubar;
  border-right:1px solid black;
}
@media screen and (max-width:1024px)
{
  .local-menu
  {
   font-size:1.5em;
  }
}
.local-menu ul li
{
  display:flex;
  padding:0.4rem;
  margin-right:4em;
  margin-left:2em;
  border-left:0.1em dashed black;
  border-right:0.1em dashed black;
  border-top:0.1em dashed black;
  border-bottom:0.1em dashed black;
}
.local-menu ul li a 
{
  margin-left:4em;
  color:deeppink;
}
.local-menu ul li a:hover,.local-menu ul li a:focus-within
{
  color:plum;
  cursor:pointer;
}
.posts
{
  color:#1BA1E2;   
}
.comments
{
  color:#1BA1E2;   
}
/*styling the text content and image */
main 
{
  background-color:#DCDBE4;
  grid-area:main;
  text-align:justify;
  justify-content: space-around;
  padding:0.6rem;
  font-size:1.1em;
}
main a
{
  color:deeppink;
}
@media screen and (max-width:1024px)
{
  main
  {
    font-size:1.7em;
  }
}
h2
{
  font-weight:bold;
  font-size:1.5em;
  margin-left:-0.4em;
  margin-right:-0.3em;
  text-align:center;
  border-bottom:0.1em solid black;
  color:#E0115F;
}
.logo1
{
  padding-right:0.4em;
}
.logo2
{
  padding-left:0.4em;
}
.row
{
  display:flex;
}
@media screen and (max-width:1024px)
{
  .row
  {
    display:inline-block;
  }
}
.sidelogo1
{
  padding-right:2.5em;
  padding-left:1em;
}
@media screen and (max-width:1024px)
{
  .sidelogo1
  {
    width:90%;
    height:100%;
  }
}
.sidelogo2
{
  padding-right:1em;
}
@media screen and (max-width:1024px)
{
  .sidelogo2
  {
    width:90%;
    height:100%;
    margin-left:1em;
    margin-top:1.3em;
  }
}
.sub-header
{
  text-align:center;
  font-size:1.2em;
  margin-top:2em;
  margin-bottom:0.5em;
  margin-left:3em;
  margin-right:3em;
  font-style: italic;
  background-color: #E0115F;
  color:white;
}
@media screen and (max-width:1024px)
{
  .sub-header
  {
    font-size:1.5em; 
    margin-bottom:1em;
  }
}
.h1
{
  margin-left:1.1em;
  margin-right:2.5em;
  background-color:#E0115F;
  color:white;
}
@media screen and (max-width:1024px)
{
  .h1
  {
    font-size:1.5em;
    margin-right:0.6em;
    margin-left:0.6em;
  }
}
.h2
{
  margin-right:0.9em;
  background-color:#E0115F;
  color:white;
}
@media screen and (max-width:1024px)
{
  .h2
  {
    font-size:1.5em;
    margin-left:0.8em;
    margin-right:0.5em;
  }
}
/*styling and applying queries to footer*/
footer
{
  background-color:#717786;
  color:white;
  grid-area:footer;
  padding:1rem;
  text-align:center;
  font-weight:bold;
}
footer a
{
  color:deeppink;
}
.submit
{
  padding:0.4rem;
  font-size:1.2em;
  width:10%;
  background-color:lavenderblush;
  font-family:bold;
  color:black;
}
